# Python
.venv/
venv/
__pycache__/
*.pyc

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfvars

# IDE
.vscode/
.idea/

# Environment
.env

# Data
data/*.xlsx
data/*.xls
data/*.csv
data/*.parquet

# Spark
spark-warehouse/
metastore_db/
derby.log

# Logs
*.log

# OS
.DS_Store
Thumbs.db